#inputContainer{
    display: flex;
    /* column-gap: 10px; */
    justify-content: space-around;
    border: solid;
    height: 20px;
}

#search{
    margin-left: 10px;
}


label,input{
    display: block;
}


#min,#max{
    width: 100px;
}

#productContainer{
    display: flex;
    border: solid;
    width: 80vw;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    justify-content: center;
    padding: 10px;
   
}

img{
    display: block;
    width: 130px;
    height: 130px;
}