#inputContainer{
    display: flex;
    /* column-gap: 10px; */
    width: 80vw;
    justify-content: space-around;
    /* border: solid; */
    height: auto;
    margin: auto;
}

#search{
    margin-left: 10px;
}


label,input{
    display: block;
}


#min,#max{
    width: 100px;
}

#productContainer{
    display: flex;
    /* border: solid; */
    width: 80vw;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
   
}

img{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 5px;
}
Select{
    display: block;
    /* background-color: red; */
}

.priceTag{
  margin-top: 5px;
}